.primary-subtle {
    color: --bs-primary-bg-subtle;
}
.info-subtle{
    color: --bs-info-bg-subtle;
}
:root {
    --color-1: #EC760A;
    --color-2: #F5AB4D;
    --color-3: #200600;
    --color-4: #3B0D00;
    --color-5: #FDAC38;
}
.bg-color-1 {
    background-color: var(--color-1);
}
.bg-color-2 {
    background-color: var(--color-2);
}
.bg-color-3 {
    background-color: var(--color-3);
}
.bg-color-4 {
    background-color: var(--color-4);
}
.bg-color-5 {
    background-color: var(--color-5);
}
body {
    background-image: linear-gradient(var(--color-1),var(--color-5)) !important;
    /* backdrop-filter: blur(6px); */
    background-position: center;
    background-size: cover;
    min-height: 100vh !important;
    min-width: 100vw;
    overflow-x: hidden;
}
::-webkit-scrollbar { 
    width: 8px; 
    /* border: 1px solid blue;  */
} 
::-webkit-scrollbar-track { 
    background: var(--bs-dark); 
} 
::-webkit-scrollbar-thumb { 
    background: var(--bs-secondary); 
    border-radius: 1em !important;
    width: 6px !important;
} 
h2,h3,h4 {
    color: rgb(255, 253, 253) !important;
}
/* #drop {
    color: white;
} */
a[class="text-muted"] > svg{
    width: 24px;
    height: 24px;
    fill: white;
}
select {
    width: 100% !important;
}
#nameCity {
    text-transform: capitalize !important;
}
span[class="bl"] {
    color: var(--bs-light);
}
#locationCard, #cardContainer,#windCard {
    background-color: rgba(255, 255, 255, 0.291);
}
#condition {
    width: 40% !important;
    height: 40% !important;
}

#windList {
    background-color: rgba(49, 48, 48, 0.296) !important;
}
.shadow {
    --bs-shadow-rgb: 255, 255, 255 !important;
    box-shadow: 5px 10px 6px rgb(var(--bs-shadow-rgb)) !important;
}
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.291) !important;
}
.transparent-bg-light {
    background-color: rgba(253, 253, 253, 0.323) !important;
}
.card-img-top1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-img-top {
    width: 80%;
    height: 70%;
    object-fit: cover;
}
a#astro:hover {
    cursor: none;
}
.gaper {
    background-color: transparent;
    height: 2em;
}

.card-img-top2 {
    width: 100%;
    /* height: auto; */
    border: 1px solid black;
    object-fit: cover;
    overflow-y: hidden !important;
    filter: brightness(0.7);
}